* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000000;
    color: #e5e7eb;
}

header {
    padding: 20px;
    text-align: center;
    background-color: #000000;
    color: #EDEDFC;
}

.hero {
    text-align: center;
    padding: 70px 20px;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    opacity: 0.8;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 14px 28px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    background-color: #7C5CFF;
    color: #0B0F1A;
}

button:hover {
    transition: all 0.7s ease;
    background-color: #4e30e4;
}

.scores {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    display: none;
}

.scores h3 {
    margin-bottom: 20px;
}

.match {
    background-color: #020617;
    padding: 15px 20px;
    border-radius: 6px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.league {
    font-size: 12px;
    opacity: 0.7;
}

footer {
    text-align: center;
    padding: 20px;
    opacity: 0.6;
}

.scores-page {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.scores-page h2 {
    margin: 30px 0 15px;
}

.video {
    margin-left: 550px;
}

.video {
    position: relative;
    width: 100%;
    max-width: 900px;   /* optional, keeps it clean on desktop */
    margin: 0 auto;
    aspect-ratio: 16 / 9;
    background: black; /* avoids weird white gaps */
}

.video iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


.match-section {
  margin: 100px auto;
  padding: 50px;
  text-align: center;
  color: white;
  height: auto;
  width: 700px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  background: #0a0a0a;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px #000000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.match-section:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px #000000;
}

.match-info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

}

.match-info p {
    font-size: 20px;
}

.prematch-text {
    size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

