* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    min-height: 100%;
    background-image: url("background.jpg");
    background-size: cover;
    height: 100%;
    margin: 0;
}

body {
    background-color: transparent;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;

}

header {
    padding: 20px;
    text-align: center;
    background-color: transparent;
    color: #EDEDFC;
}

.hero {
    text-align: center;
    padding: 70px 20px;
    margin-top: 225px;
    position: relative;       
    animation: slideUp 0.7s ease-out forwards; 
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #F5F7FA;
    text-shadow: 3px 7px 5px rgba(0, 0, 0, 0.55);

}

.hero p {
    margin-bottom: 30px;
    color: #e0e0e0;
    text-shadow: 3px 7px 5px rgba(110, 110, 110, 0.55);
    

}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -50px;
    position: relative;       
    animation: Fadein 0.9s ease-in; 

}

button {
    padding: 14px 28px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    background-color: #21af29;
    color: #0B0F1A;
    box-shadow: 0 4px 15px #000000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    transition: all 0.7s ease;
    background-color: #1e8b27;
    box-shadow: 0 8px 20px #ffffff;
}

.scores {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    display: none;
}

.scores h3 {
    margin-bottom: 20px;
}

.match {
    background-color: #020617;
    padding: 15px 20px;
    border-radius: 6px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.league {
    font-size: 12px;
    opacity: 0.7;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: auto;

}

.scores-page {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.scores-page h2 {
    margin: 30px 0 15px;
}

.video {
    margin-left: 550px;
}

.video {
    position: relative;
    width: 100%;
    max-width: 900px;   /* optional, keeps it clean on desktop */
    margin: 0 auto;
    aspect-ratio: 16 / 9;
    background: black; /* avoids weird white gaps */
}

.video iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


.match-section {
  margin: 100px auto;
  padding: 50px;
  text-align: center;
  color: white;
  height: auto;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  background: #ffffff9c;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px #1b1b1b;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;       
  animation: slideUp 0.9s ease-out forwards; 
}


.match-section:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px #ffffff;
}

.match-info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    text-shadow: 2px 6px 5px #ffffffa8;


}

.match-info p {
    font-size: 20px;
}

.prematch-text {
    size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.image-box {
    width: 300px;
    max-width: 100%;
}

.image-box img {
    width: 100%;
    height: auto;
}

main {
    flex: 1;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);    
  }
}


@keyframes Fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;  
  }
}